
@font-face {
    font-family: 'Space Grotesk';
    src: url('/fonts/spacegrotesk/spacegrotesk.woff2') format('woff2'),
         url('/fonts/spacegrotesk/spacegrotesk.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/jetbrainsmono/jetbrainsmono.woff2') format('woff2'),
         url('/fonts/jetbrainsmono/jetbrainsmono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}