@mixin center_content(){
    max-width: var(--max-content-width);
    margin-right: auto;
    margin-left: auto;
    padding: 0 10px;
}

@mixin tag($colour){
    background-color: color-mix(in hsl shorter hue, $colour 10%, transparent);
    border: 1px solid $colour;
    border-radius: 20px;
    color: $colour;
    padding: 10px;
}

@mixin fainted-button-tag(){
    border: 1px solid color-mix(in hsl shorter hue, var(--primary-border-colour) 30%, transparent) ;
    background: rgba(242, 242, 242, 0.05);
    color: var(--primary-text-colour);
    align-self: flex-start;
    text-decoration: none;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 10px;
    gap: 5px;
}