@import "./fonts.scss";

:root {
    --max-content-width: 1200px;
    --nav-height: 3rem;

    --border-colour: #272C35;
    --background-colour: #0e1115;
    --secondary-text-colour: #7B899D;

    color-scheme: dark;
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: Space Grotesk, system-ui, sans-serif;
    background-color: var(--background-colour);
    min-height: 100vh;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: JetBrains Mono, Consolas, Monaco, monospace;
    margin: 0;
}