@import "./fonts.scss";

:root {
    --nav-height: 3rem;

    --background-colour: #0e1115;

    color-scheme: dark;
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: Space Grotesk, system-ui, sans-serif;
    background-color: var(--background-colour);
    min-height: 100vh;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: JetBrains Mono, Consolas, Monaco, monospace;
    margin: 0;
}