:root {
    --max-width: 1153px;
    --nav-height: 80px;

    --background-colour: #0e1115;
    --border-colour: rgba(39, 44, 53, 0.5);

    --faint-text-colour: rgb(123, 137, 157);
    --text-colour: white;

    --accent-colour: rgb(223, 58, 58);

    color-scheme: dark;
}

*{
    box-sizing: border-box;
    margin: 0;
}

a{
    text-decoration: none;
}

body{
    font-family: "Outfit", sans-serif;
    background-color: var(--background-colour);
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    margin: auto;
    padding: 0;
    margin: 0;
}

/* Adds borders to the footer and header */
body > :is(header:nth-of-type(1), footer){
    border: 0px solid var(--border-colour);
}

/* Header and footer containor */
body > :is(header:nth-of-type(1), footer) > *{
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    display: flex;
}

/* Sets the max width for page content */
body > main > section > *, body > :is(header:nth-of-type(1), footer) > *{
    max-width: var(--max-width);
    width: 100vw;
    margin: unset auto;
}

body > main > section{
    padding: 20px 0;
}

body > main > section > *{
    padding: 0 20px;
}

body > main{
    flex-grow: 1;
}

body > footer{
    border-top-width: 1px !important;
}


a.button{
    border-radius: 10px;
    width: max-content;
    display: block;
    padding: 15px;
}

a.button:is(.primary-solid, .secondary-solid){
    background-color: var(--colour);
    color: white;
}

a.button:is(.primary-solid, .secondary-solid):hover{
    background: color-mix(in hsl shorter hue, var(--colour), black 15%);
    transition: background-color 150ms ease-in, scale 150ms ease-in;
}

a.button.primary-solid{
    --colour: var(--accent-colour);
    transition: background-color 200ms ease-in, scale 200ms ease-in;
}

a.button.primary-solid:hover{
    scale: 1.05;
}

a.button.secondary-solid{
    --colour: rgb(51, 53, 58);
}

a.button.secondary-solid:hover{
    outline: .5px solid var(--accent-colour);
}