:root {
    --max-width: 1153px;
    --nav-height: 80px;

    --background-colour: #0e1115;
    --border-colour: rgba(39, 44, 53, 0.5);

    --faint-text-colour: rgb(123, 137, 157);
    --text-colour: white;

    --accent-colour: rgb(223, 58, 58);

    color-scheme: dark;
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "Outfit", sans-serif;
    background-color: var(--background-colour);
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    margin: auto;
    padding: 0;
    margin: 0;
}

/* Adds borders to the footer and header */
body > :is(header:nth-of-type(1), footer){
    border: 0px solid var(--border-colour);
}

/* Header and footer containor */
body > :is(header:nth-of-type(1), footer) > *{
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    display: flex;
}

/* Sets the max width for page content */
body > main > section > *, body > :is(header:nth-of-type(1), footer) > *{
    max-width: var(--max-width);
    width: 100vw;
    margin: auto;
}

body > main > section{
    padding: 20px 0;
}

body > main > section > *{
    padding: 0 20px;
}

body > main{
    flex-grow: 1;
}

body > footer{
    border-top-width: 1px !important;
}