body > header:nth-of-type(1){
    backdrop-filter:  blur(24px);
    height: var(--nav-height);
    border-bottom-width: 1px;
    position: sticky;
    z-index: 2;
    left: 0;
    top: 0;
}

body > header:nth-of-type(1) > nav > div.links{
    display: flex;
    gap: 20px;
}

body > header:nth-of-type(1) > nav a{
    text-decoration: none;
}

body > header:nth-of-type(1) > nav > div.links > a{
    transition: 400ms ease-out;
    color: var(--faint-text-colour);
}

@media (width < 600px) {
    body > header:nth-of-type(1) > nav > div.links{
        display: none;
    }
}

body > header:nth-of-type(1) > nav > div.links > a:hover{
    color: var(--text-colour) !important;
    transition: 200ms ease-in;
}

body > header:nth-of-type(1) > nav > a.contact-bnt{
    color: var(--accent-colour);
    padding: 10px;
    border: 1px solid var(--accent-colour);
    background: color-mix(in hsl shorter hue, var(--accent-colour), transparent 80%);
    border-radius: 10px;
    font-size: small;
}